/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color:rgb(253, 253, 253);
  color: #333;
  padding: 20px;
}

/* Navigation Bar */
.navdiv {
  background-color: #333;
  overflow: hidden;
}

.navdiv a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navdiv a:hover {
  background-color: #ccdae4;
  color: black;
}

.navdiv .active {
  background-color: #0078d7
}

/* Header Styling */
header {
  background: #0078d7;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

header h1 {
  font-size: 2.5rem;
}

/* Main Content */
main {
  margin: 20px auto;
  max-width: 800px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Table Styling */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table th {
  background-color: #0078d7;
  color: #fff;
}

/*Form styling*/
.form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px 15px;
  background-color:#ccdae4;
  padding: 10px;
  border-radius: 10px;
}

.form h2 {
  grid-column: 1 / -1;
  text-align: center;
}

.form label {
  align-self: center;
  font-weight: bold;
}

.input, select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
 } 

.radio-group {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
}
.radio-group label {
  font-weight: normal;
}
input[type="radio"],
input[type="checkbox"] {
  margin-right: 10px;
}
.checkbox {
  grid-column: 1 / -1;
  display: flex;
}

.form button {
  grid-column: 1 / -1;
  padding: 12px; 
  background-color: #0078d7;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.form button:hover {
  background-color: #fff;
  color:  #0078d7;
  font-weight: bold;
}
/* Footer Styling */
footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px 0;
  background: #333;
  color: #fff;
}

footer p {
  font-size: 0.9rem;
}